<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.DAO.AgencyTableDAO">	
	
	<!-- 查询所有中介信息 -->
	<select id="selectAllAgencyTable"  resultType="com.mybatis.po.AgencyTable">
		select * from AgencyTable
	</select>
	
	<!-- 查询起始年月查询中介表信息 -->
	<select id="selectAgencyTableByDay"  parameterType="com.mybatis.pojo.AgencyTableParam" resultType="com.mybatis.po.AgencyTable">
		select * from AgencyTable
		where city=#{city}
		and dealDay&gt;=#{startDay}
		and dealDay&lt;=#{endDay}
	</select>
	
	<!-- 查询成交商品信息根据联合主键 -->
	<select id="selectAgencyTableByPrimary" parameterType="com.mybatis.po.AgencyTable" resultType="com.mybatis.po.AgencyTable">
		select * from AgencyTable
		where dealDay=#{dealDay} 
			and city=#{city}
			and goodType=#{goodType}
	</select>
	
	
	<!-- 更新一件新成交品若不存在则插入-->
	<insert id="addAgencyTable" parameterType="com.mybatis.po.AgencyTable">
		insert into AgencyTable (dealDay,city,goodType,income) 
		values(#{dealDay},#{city},#{goodType},#{income})
		on duplicate key update amount=amount+1,income=	income+#{income};
	</insert>
	
	<!-- 删除一个成交商品明细 不可使用的需求-->
	<delete id="deleteAgencyTable" parameterType="com.mybatis.po.AgencyTable"> 
		delete from AgencyTable 
		where city=#{city}
			and dealDay=#{dealDay}
			and goodType=#{goodType}
	</delete>
</mapper>